.statsContainer{
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}

.statsContainer::-webkit-scrollbar {
    width: 0;  /* For Chrome, Safari, and Opera */
  }